header>nav{
	float:none;
	margin:0 20px;
}
header>nav>ul>li{
	display:inline-block;
	line-height:50px;
	margin-right:50px;
	position:relative;
}
header #hamburger-menu{
	display:inline-block;
	position:absolute;
	top:26px;
	left:20px;
}
header #hamburger-menu.active>ul>li:nth-child(1){
	-webkit-transform-origin:0 50%;
	        transform-origin:0 50%;
	-webkit-transform:rotate(45deg);
	        transform:rotate(45deg);
}
header #hamburger-menu.active>ul>li:nth-child(2){
	width:0;
}
header #hamburger-menu.active>ul>li:nth-child(3){
	-webkit-transform-origin:0 50%;
	        transform-origin:0 50%;
	-webkit-transform:rotate(-45deg);
	        transform:rotate(-45deg);
}
header{
	text-align:center;
}
header .select{
	display:none;
}
header>div{
	display:block;
	position:relative;
}
header>nav{
	display:none;
}
header>nav.active{
	display:block;
}
.content>.cover-image>.section{
	left:40px;
	right:40px;
	bottom:40px;
}
.content>.cover-image>.section>h1{
	font-size:1.4em;
	margin-bottom:20px;
}
.content>.cover-image>.section>.form{
	float:none;
}