<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Schwack Cinema{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="css/font.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="node_modules/swiper/dist/css/swiper.min.css">
	<link rel="stylesheet" media="screen and (min-width: 701px) and (max-width: 1400px)" href="css/tablet.css" type="text/css" />
	<link rel="stylesheet" media="only screen and (max-width: 700px), only screen and (max-device-width: 700px)" href="css/mobile.css" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="app" v-if="json">
		<!-- Header starts here -->
		<header>
			<div id="sub">
				<a id="hamburger-menu" :class="{ active: nav }" @click="nav = !nav">
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</a>
				<a id="logo" href="./"></a>
				<div class="select">
					<select v-model="location">
						<option v-for="location in json.location" :value="location.value" v-text="location.name"></option>
					</select>
				</div>
			</div>
			<nav :class="{ active: nav }">
				<ul v-if="json.page">
					<!-- Add class active to make link selected -->
					<li v-for="page in json.page" :class="{ active: checkPage(page.route) }">
						<!-- Remove {.prevent} in click to go to link -->
						<a :href="page.route" v-text="page.name" @click="active = page.route"></a>
					</li>
				</ul>
			</nav>
		</header>
		<!-- Header ends here -->

		<!-- Body content starts here -->
		{% block content %}{% endblock %}
		<!-- Body content ends here -->
	</div>
	<script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
	<script type="text/javascript" src="node_modules/axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="node_modules/swiper/dist/js/swiper.jquery.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>